.Header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    height: 70px;
    width: 100%;
    z-index: 100;
}

.Header h1, .Header a {
    background: -webkit-linear-gradient(45deg, #87ff37, #1a7204);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Header h1 {
    font-size: 50px;
    margin: 0 0 0 10px;
    user-select: none;
}

.Header a {
    text-decoration: none;
    font-size: 25px;
    user-select: none;
}

.image {
    margin-left: 30px;
}

.image img {
    margin: -10px 0 -15px -10px;
    width: 70px;
}

.image p {
    margin: 0;
    color: #239612;
}

.rb {
    display: flex;
    align-items: center;
}

.buttonSearch {
    display: inline-flex;
    user-select: none;
}

.buttonSearch button {
    color: #4ab902;
    background: #4b4b4b;
    border-radius: 30px;
}
